
body{
	background: #F5EEC8;
}

.buttons_8831 > img{
	 margin-top: 0rem !important; /* empecher l'ecart entre les lignes de boutons */
	 
}

.buttons_8831{
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}



/* padding du header, la partie à gauche du site */
.intro-and-nav > div{
	padding : 0.5rem !important;
}

.socials > img {
	padding: auto;
}

.socials{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem !important;
}

.socials > a{
	border-bottom: none !important;
}
